<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm px-3 ">
   <a class="navbar-brand text-primary font-weight-bold fs-4" href="{{ url_for('user.user_dashboard') }}">QuizMaster</a>

   <div class="mx-auto">
       <span class="navbar-text text-dark fw-bold fs-4  ">
           Welcome {{ user.username }}!
       </span>
   </div>

   <div class="dropdown ml-auto">
       <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Menu
       </button>
       <div class="dropdown-menu dropdown-menu-right margin-right 2px ">
           <a class="dropdown-item" href="{{ url_for('user.user_dashboard') }}">Home</a>
           <a class="dropdown-item" href="{{ url_for('user.view_quiz') }}">View Quizzes</a>
           
           
       </div>
   </div>

   <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-danger ml-2">Logout</a>
</nav>

